* {
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

body {
  margin: 0;
  position: relative;
}

.wrapper {
  padding-left: 91px;
  padding-right: 91px;

  margin-left: auto;
  margin-right: auto;
}

/*=====HEADER=====*/

.header-title {
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  box-shadow: 0 1px 0 0 #110038;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
}

/*=====NAVBAR=====*/

.navbar-container {
  position: relative;
  padding-top: 19px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  z-index: 0;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
}

.logo2 {
  display: none;
}

.items-container {
  display: flex;
  justify-content: flex-end;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
}

.items {
  list-style: none;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  margin-left: 16px;
  padding: 9px 26.5px;
}

.items a {
  text-decoration: none;
  color: #110038;
}

.items:hover {
  background: #e6bbe2;
  border: 1px dotted #110038;
}

.misGuifos-item {
  list-style: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: 8px;
  border: 1px solid #ffffff;
}

.misGuifos-item a {
  text-align: start;
}

.misGuifos-item:hover {
  border: 1px dotted #110038;
}

.misGuifos-item a:active {
  color: #110038;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
}

.occult-items-dropdown {
  position: absolute;
  display: none;

  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;

  transform: translateY(-15px);

  margin-top: 0px;
  margin-left: 984.5px;
  padding: 12.5px;

  z-index: 1;
}

.item-dropdown {
  background: #fff4fd;
  border: 1px solid #cca6c9;
  box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
  padding-left: 7px;
  padding-right: 54.5px;
}

.item-dropdown-2 {
  background: #f0f0f0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.item-dropdown p {
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  margin: 10px 5px;
}

.dropdown-container img {
  padding: 13px 15px;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.dropdown-container img:hover {
  background: #e6bbe2;
  border: 1px dotted #110038;
}

.navbar-items li a {
  text-decoration: none;
}

.dropdown-items {
  position: absolute;
  display: flex;
  flex-direction: column;
}

/*=====BUSCADOR=====*/

.buscador-section-container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  margin-top: 20px;
  z-index: 0;
}

.buscador-title-container {
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.buscador-title {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 3px;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
}

.buscador-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 18px;
  background-color: #e6e6e6;
}

.buscador {
  width: 1025px;
  height: 48px;
  padding-left: 16px;
  font-size: 16px;
  color: #b4b4b4;
  letter-spacing: 0;
  line-height: 22px;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}

.buscador-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: #e6e6e6;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.buscador-button img {
  padding-left: 10px;
  width: 28px;
  color: #b4b4b4;
}

.buscador-button span {
  margin-right: 14px;
  font-size: 16px;
  color: #b4b4b4;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.buscador-dropdown {
  display: none;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  padding-top: 10px;
  padding-right: 118px;
}

.buscador-dropdown-item {
  background: #f0f0f0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  margin: 10px 15px;
}

.buscador-dropdown-item:hover {
  border: 1px dotted #110038;
  background: #dbdbdb;
}

.buscador-dropdown-item p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

/*=====CREAR GUIFOS=====*/

.navbarContainerCrearGuifos {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}

.backArrowContainer {
  align-items: center;
  display: flex;
}

.backArrow {
  margin-right: 7px;
  width: 20px;
  align-items: center;
}

.crearGuifosWindow {
  margin-top: 75px;
  margin-bottom: 150px;
  margin-right: 350px;
  margin-left: 350px;

  display: flex;
  flex-direction: column;

  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.crearGuifosHeader {
  padding-left: 4px;
  padding-top: 3.5px;
  padding-bottom: 2.5px;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  color: #ffffff;
}

.crearGuifosTitleContainer {
  display: flex;
  flex-direction: row;

  padding-left: 25px;
  margin-top: 30px;
}

.crearGuifosTitle {
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;

  margin-left: 15px;
}

.crearGuifosParagraph {
  margin-left: 73px;
  margin-right: 93px;
}

.crearGuifosButtonContainer {
  margin-top: 30px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.cancelarButton {
  margin-left: 340px;
  margin-right: 15px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;

  background: #fff4fd;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;

  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.comenzarButton {
  margin-right: 35px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;

  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;

  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.MisGuifosTitleContainer {
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;

  background-color: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;

  margin-bottom: 15px;
  margin-top: 150px;
  padding-left: 7px;
}

.MisGuifosTitleContainer p {
  margin-top: 7px;
  margin-bottom: 7px;
}

.contenedorMisGuifos {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

/*=====RESULTADOS BUSQUEDA=====*/

.resultsSection {
  display: none;
}

.historial-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 55px;
}

.inputResults {
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
}

.gifContainer {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

/*=====SUGERENCIAS=====*/

.sugerencias-container {
  display: block;
  margin-top: 64px;
}

.sugerencias-text-container {
  background-color: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}

.sugerencias-text-container p {
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 9px;
}

.sugerencias-gifs-container {
  margin-top: 20px;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

.gif-container {
  display: flex;
  flex-direction: column;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.gif-title-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  margin: 0px;
}

.gif {
  height: 280px;
}

.gif:hover {
  border: 1px dotted #110038;
}

.gif-title-container img {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
}

.gif-img {
  width: 100%;
  height: 250px;
}

.gif-button {
  position: absolute;
  z-index: 1;
  background-color: #4180f6;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  margin-left: 5px;
  width: 80px;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  margin-top: 230px;
  padding: 8px 8px;
}

.gif-button:hover {
  border: 1px dotted #110038;
  background: #3a72db;
}

/*=====TENDENCIAS SECTION=====*/
.tendencias-section-container {
  display: block;
  margin-top: 64px;
}

.tendencias-title-container {
  background-color: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}

.tendencias-title-container p {
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 9px;
}

.tendencias-gifs-container {
  margin-top: 20px;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

.gifs-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

/*=====PRECAPTURA SECTION=====*/

.precapturaContainer {
  display: none;
  flex-direction: column;

  margin-top: 85px;
  margin-left: 265px;
  margin-right: 265px;

  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.precapturaTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.precapturaTitle {
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;

  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.closePrecaptura {
  margin-right: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.precaptura {
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;

  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.cronometro {
  width: 150px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin-left: 15px;
  margin-top: 25px;
  margin-bottom: 15px;

  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;

  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

.cameraImg {
  padding: 10px 10px;

  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.capturarButton {
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;

  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;

  padding: 10px 50px;
}

.listoButton {
  display: none;

  background: #ff6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;

  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;

  padding: 10px 62px;
}

.recordingImg {
  display: none;

  padding: 10px 10px;

  background: #ff6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
}
