* {
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

body {
  margin: 0;
  position: relative;
  background-color: #110038;
}

.wrapper {
  padding-left: 91px;
  padding-right: 91px;

  margin-left: auto;
  margin-right: auto;
}

/*=====HEADER=====*/

.header-title {
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
  box-shadow: 0 1px 0 0 #110038;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
}

/*=====NAVBAR=====*/

.navbar-container {
  padding-top: 19px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  z-index: 0;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
}

.logo-container a {
  align-self: center;
}

.logo {
  display: none;
}

.items-container {
  display: flex;
  justify-content: flex-end;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
}

.items {
  list-style: none;
  background: #ee3efe;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  margin-left: 16px;
  padding: 9px 26.5px;
}

.items a {
  text-decoration: none;
  color: #ffffff;
}

.items:hover {
  background: #ce36db;
  border: 1px dotted #110038;
}

.misGuifos-item {
  list-style: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: 8px;
  border: 1px solid #250036;
}

.misGuifos-item a {
  text-align: start;
  color: #ffffff;
}

.misGuifos-item:hover {
  border: 1px dotted #ffffff;
}

.misGuifos-item a:active {
  color: #110038;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
}

.occult-items-dropdown {
  position: absolute;
  display: none;

  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;

  transform: translateY(-15px);

  margin-top: 0px;
  margin-left: 980px;
  padding: 9px;

  z-index: 1;
}

.item-dropdown {
  background: #cccccc;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  padding-left: 7px;
  padding-right: 54.5px;
}

.item-dropdown-2 {
  background: #2e32fb;
  border: 1px solid rgba(51, 53, 143, 0.2);
  box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
}

.day-theme-title {
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  margin: 10px 5px;
}

.night-theme-title {
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 22px;
  margin: 10px 5px;
}

.dropdown-container img {
  padding: 13px 15px;
  background: #ee3efe;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.dropdown-container img:hover {
  background: #ce36db;
  border: 1px dotted #110038;
}

.navbar-items li a {
  text-decoration: none;
}

.dropdown-items {
  position: absolute;
  display: flex;
  flex-direction: column;
}

/*=====BUSCADOR=====*/

.buscador-section-container {
  position: relative;
  display: flex;
  flex-direction: column;

  background: #b4b4b4;
  box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;

  margin-top: 20px;

  z-index: 0;
}

.buscador-title-container {
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);

  margin-top: 3px;
  margin-right: 3px;
  margin-left: 3px;
}

.buscador-title {
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 4px;

  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
}

.buscador-container {
  display: flex;
  justify-content: space-between;

  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 18px;
  margin-bottom: 3px;
  margin-right: 3px;
  margin-left: 3px;

  background: #b4b4b4;
}

.buscador {
  width: 1025px;
  height: 48px;
  padding-left: 16px;
  font-size: 16px;
  color: #b4b4b4;
  letter-spacing: 0;
  line-height: 22px;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}

.buscador-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: #b4b4b4;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;

  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.buscador-button-active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: #ee3efe;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;

  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.lupaBuscadorOscuro {
  display: none;
}

.lupaBuscadorClaro {
  display: none;
}

.buscador-button img {
  padding-left: 10px;
  width: 28px;
  color: #b4b4b4;
}

.buscador-button-active img {
  padding-left: 10px;
  width: 28px;
  color: #b4b4b4;
}

.buscador-button span {
  font-size: 16px;
  color: #8f8f8f;
  letter-spacing: 0;
  line-height: 18px;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 14px;
}

.buscador-button-active span {
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 18px;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 14px;
}

.buscador-dropdown {
  display: none;
  background: #b4b4b4;
  box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
  padding-top: 10px;
  padding-right: 118px;
}

.buscador-dropdown-item {
  background: #cccccc;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  margin: 10px 15px;
}

.buscador-dropdown-item:hover {
  border: 1px dotted #110038;
  background: #b4b4b4;
}

.buscador-dropdown-item p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

/*=====RESULTADOS BUSQUEDA=====*/

.resultsSection {
  display: none;
}

.historial-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 55px;
}

.inputResults {
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
}

.gifContainer {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

/*=====SUGERENCIAS=====*/

.sugerencias-container {
  display: block;
  margin-top: 64px;
}

.sugerencias-text-container {
  background-color: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}

.sugerencias-text-container p {
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 9px;
}

.sugerencias-gifs-container {
  margin-top: 20px;

  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

.gif-container {
  display: flex;
  flex-direction: column;

  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.gif-title-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);

  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;

  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 2px;
  margin-left: 3px;
}

.gif {
  height: 280px;
}

.gif:hover {
  border: 1px dotted #110038;
}

.gif-title-container img {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
}

.gif-img {
  width: 245px;
  height: 250px;

  margin-bottom: 3px;
  margin-right: 3px;
  margin-left: 3px;
}

.gif-button {
  position: absolute;
  z-index: 1;

  background: #2e32fb;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;

  width: 80px;

  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;

  margin-top: 230px;
  margin-left: 10px;
  padding: 8px 8px;
}

.gif-button:hover {
  background: #2629cc;
  border: 1px dotted #4c2f99;
}

/*=====TENDENCIAS SECTION=====*/

.tendencias-section-container {
  display: block;
  margin-top: 64px;
}

.tendencias-title-container {
  background-color: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}

.tendencias-title-container p {
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 9px;
}

.tendencias-gifs-container {
  margin-top: 20px;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

.gifs-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.titleContainerTrending {
  display: none;
  position: absolute;
  z-index: 1;

  margin-top: 232px;
  margin-right: 3px;
  margin-bottom: 2px;
  margin-left: 3px;

  overflow: hidden;

  color: #ffffff;
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);

  width: 245px;
  height: 21px;
}

.gifContainerTrending {
  display: flex;
  flex-direction: column;
}

.gifContainerTrendingHover {
  display: flex;
  flex-direction: column;

  background: #b4b4b4;
  box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;

  border: 1px dotted #110038;
}

.gifImgTrending {
  width: 245px;
  height: 250px;
}

.gifImgTrendingHover {
  width: 245px;
  height: 250px;

  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  margin-left: 3px;
}

/*====MIS GIFOS SECTION=====*/

.misGifosContainer {
  display: block;
  margin-top: 64px;
}

.misGifosTextContainer {
  background-color: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;

  margin-bottom: 15px;
}

.misGifosTextContainer p {
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 9px;
}

.misGifosGifsContainer {
  margin-top: 20px;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}
