* {
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

body {
  margin: 0;
  position: relative;
}

.wrapper {
  padding-left: 91px;
  padding-right: 91px;

  margin-left: auto;
  margin-right: auto;
}

/*=====HEADER=====*/

.header-title {
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  box-shadow: 0 1px 0 0 #110038;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
}

/*=====NAVBAR=====*/

.navbar-container {
  position: relative;
  padding-top: 19px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  z-index: 0;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
}

.logo2 {
  display: none;
}

.items-container {
  display: flex;
  justify-content: flex-end;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
}

.items {
  list-style: none;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  margin-left: 16px;
  padding: 9px 26.5px;
}

.items:hover {
  background: #e6bbe2;
  border: 1px dotted #110038;
}

.misGuifos-item {
  list-style: none;
  padding: 9px 26.5px;
}

.misGuifos-item a:hover {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  border: 1px dotted #110038;
}

.misGuifos-item a:active {
  color: #110038;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
}

.occult-items-dropdown {
  position: absolute;
  display: none;
  margin-left: 1025px;
  margin-top: 0px;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  transform: translateY(-15px);
  margin-right: 219px;
  margin-left: 951.5px;
  z-index: 1;
  padding: 10px;
}

.item-dropdown {
  background: #fff4fd;
  border: 1px solid #cca6c9;
  box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
  padding-left: 7px;
  padding-right: 54.5px;
}

.item-dropdown-2 {
  background: #f0f0f0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.item-dropdown p {
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  margin: 10px 5px;
}

.dropdown-container img {
  padding: 13px 15px;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  border-left: none;
}

.dropdown-container img:hover {
  background: #e6bbe2;
  border: 1px dotted #110038;
}

.navbar-items li a {
  text-decoration: none;
}

.dropdown-items {
  position: absolute;
  display: flex;
  flex-direction: column;
}

/*=====BUSCADOR=====*/

.buscador-section-container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  margin-top: 20px;
  z-index: 0;
}

.buscador-title-container {
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.buscador-title {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 3px;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
}

.buscador-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 18px;
  background-color: #e6e6e6;
}

.buscador {
  width: 1025px;
  height: 48px;
  padding-left: 16px;
  font-size: 16px;
  color: #b4b4b4;
  letter-spacing: 0;
  line-height: 22px;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}

.buscador-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: #e6e6e6;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.buscador-button:active {
  border: 1px dotted #110038;
}

.buscador-button img {
  padding-left: 10px;
  width: 28px;
  color: #b4b4b4;
}

.buscador-button span {
  margin-right: 14px;
  font-size: 16px;
  color: #b4b4b4;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.buscador-dropdown {
  display: none;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  padding-top: 10px;
  padding-right: 118px;
}

.buscador-dropdown-item {
  background: #f0f0f0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  margin: 10px 15px;
}

.buscador-dropdown-item:hover {
  border: 1px dotted #110038;
  background: #dbdbdb;
}

.buscador-dropdown-item p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

/*=====RESULTADOS BUSQUEDA=====*/

.resultsSection {
  display: none;
}

.historial-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 55px;
}

.inputResults {
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
}

.gifContainer {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

/*=====SUGERENCIAS=====*/

.sugerencias-container {
  display: block;
  margin-top: 64px;
}

.sugerencias-text-container {
  background-color: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}

.sugerencias-text-container p {
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 9px;
}

.sugerencias-gifs-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 20px;
}

.gif-container {
  display: flex;
  flex-direction: column;
  width: 22.5%;
  height: 313px;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.gif-title-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}

.gif-title {
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  margin: 0px;
}

.gif {
  height: 280px;
}

.gif:hover {
  border: 1px dotted #110038;
}

.gif-title-container img {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
}

.gif-button {
  background-color: #4180f6;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  margin-bottom: 25px;
  margin-left: 5px;
  width: 80px;
}

.gif-button:hover {
  border: 1px dotted #110038;
  background: #3a72db;
}

.gif-button p {
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  margin: 5px 0px;
}

.tendencias-section-container {
  display: block;
  margin-top: 64px;
}

.tendencias-title-container {
  background-color: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}

.tendencias-title-container p {
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 9px;
}

.tendencias-gifs-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.gifs-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.bigger-gif {
  width: 48.4%;
}
